// Custom styling for homepage GIF

.gif-container {
  margin: 1.25rem 0;
  text-align: center;

  img {
    width: 85%;
    max-width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.02);
    }
  }

  .caption {
    margin-top: 0.5rem;
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
    color: var(--global-text-color-light);
  }
}
